body {
    background-color: #FCFAF7;
    color: #000000;
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-size: 2rem; 
    /* cursor: none; */
    /* cursor: url(../img/cursor.png), auto; */
}

/* cursor
.rounded{
    width: 30px;
    height: 30px;
    fill: #EBFC72;
} */


/* text */


h1 {
    font-family: "swear-display-cilati", helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    /* margin:0;
    padding:0; */
}

h2 {
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    /* margin:0;
    padding:0; */
}

h3 {
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    /* margin:0;
    padding:0; */
}

h4 {
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.7rem;
    /* margin:0;
    padding:0; */
}

h5 {
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    /* margin:0;
    padding:0; */
}

p{
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 1.2rem;
    line-height: 150%;
}

.p1 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
}

code{
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 1rem;
}

.site-title{
    font-family: "swear-display-cilati", helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
}

a {
    color: #000000;
    font-size: 1rem;
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
    text-decoration: none;
}

a:hover {
    color: #FF5C00;
    transition: ease-out 0.3s;
    text-decoration: underline;
}

/* style guide font examples */


/* spacing */

.content-wrapper{
    margin-right: 10vw;
    margin-left:10vw;

}

.padding-right {
    padding-right: 2rem;
}

header{
    margin-bottom:4rem;
}

.section-container {
    max-width: 670px;
    min-width: 200px;
    margin-bottom: 5rem;
}

.styleguide-section-border{
    /* border:1px #FF5C00 solid; */
    border-radius:20px;
    background-color:#FCFAF7;
    padding:2rem;
    margin-bottom:2rem;
}

/* .styleguide-link{
    margin-right:2rem;
    margin-bottom:2rem;
} */







/* selection colour */

p::selection {
    background-color: #EBFC72;
}

em::selection {
    background-color: #EBFC72;
}

strong::selection {
    background-color: #EBFC72;
}

code::selection {
    background-color: #EBFC72;
}

h1::selection {
    background-color: #EBFC72;
}

h2::selection {
    background-color: #EBFC72;
}

h3::selection {
    background-color: #EBFC72;
}

h4::selection {
    background-color: #EBFC72;
}

h5::selection {
    background-color: #EBFC72;
}

a::selection {
    background-color: #EBFC72;
}

ul::selection {
    background-color: #EBFC72;
}

ol::selection {
    background-color: #EBFC72;
}

li::selection {
    background-color: #EBFC72;
}

img::selection {
    background-color: #EBFC72;
}

figcaption::selection {
    background-color: #EBFC72;
} 